
.holder{
	display: grid;
	grid-template-rows: repeat(2, 100px);
	grid-template-columns: repeat(2, 100px);
	column-gap: 40px;
	row-gap: 50px;
}
.holder{
	background-color: red;
}
.item{
	background-color: blue;
	
}